li{
    margin: 10px;
}
#title1{
    width: 200px;
    padding: 6px;
}

#toolBarZK2{
    position:absolute;
    z-index:1;
    display:flex;
    flex-direction:column;
    left:10px;
    top:10px;
    margin-left:10px;

}

.spareCompare{
    padding: 5px 0;
    font-size: 5px;
}

button{
    width: 100%;
}
a:hover { color:#70b1c5; }