.lyButton{
    background-color: white;
    border-radius: 8px;
    margin-top: 13px;
    font-size: 16px;
}


table{
    border-collapse: collapse;
    border-color: #d9d9d9;
    border-width: 0 0 0 0;
    background: #ffffff;
}
td{
    padding: 8px;
}
