.lyButton{
    background-color: white;
    border-radius: 8px;
    margin-top: 13px;
    font-size: 16px;
}

li{
    margin: 10px;
}
#title1{
    width: 200px;
    padding: 6px;
}

#modeladsTable{
    border:1px #cccccc solid;
    /*table-layout: fixed;*/
    /*width: 305px;*/
    width: 100%;
}

#modeladsTable  td{
    border:2px #cccccc solid;
    padding: 5px 0px;
}

/*table td:first-child {*/
    /*width:20px;*/
/*}*/
/*table tr td:first-child,table tr td:first-child{width:20px;}*/
/*.td-left{*/
    /*width:120px;*/
/*}*/

/*.td-right{*/
    /*width:185px;*/
/*}*/

#modeladsTable tr{
    background-color: white;
    border: 2px #cccccc solid;
    padding: 5px 0;
}
button{
    width: 200px;
}

a:hover { color:#70b1c5; }
